$spacer-1: 15px;
$spacer-2: 23px;
$spacer-3: 50px;
$spacer-4: 10px;
$spacer-5: 20px;
$spacer-6: 40px;
$spacer-7: 5px;
$spacer-8: 18px;
$spacer-9: 30px;
$spacer-13: 60px;
$spacer-14: 14px;
$spacer-16: 16px;
$spacer-19: -23px;
$spacer-20: 200px;
$spacer-22: 22px;
$spacer-25: 25px;
$spacer-28: 28px;
$spacer-34: 34px;
$spacer-52: 52px;
$spacer-53: 2.52px;
$spacer-175: 175px;
$spacer-250: 250px;
$spacer-300: 300px;