.req-a-demo-sec {

    align-items: center;



    .req-d-col2 {
        border: 1px solid #e5e5e5;
        border-width: 0 0 0 1px;
    }

    button {
        background: #10385B;
        color: white;
        border: none;
    }
}

@media (max-width: 768px) {
    .pb-1{
        margin-top: 20px;
      } 

}

@media (max-width: 576px) {
  .pb-1{
    margin-top: 20px;
  }

}