
.bnx-place-section {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-around;
    background: #E9E9E9;
    padding: 1rem 1rem;

    @media (max-width: 768px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.33% 33.33% 33.33%;

    }

    @media (max-width: 576px) {
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        

    }
}



.bnx-card {
    padding-bottom: 150px;

    h1 {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    p {
        color: #666;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

}