.bnx-card-bottem {
    img {
        width: 100px;
        padding-top: 18px;
    }

    h6 {
        justify-content: baseline;
        font-size: 22px;
        font-weight: 600;
        color: #10385b;
    }

    .bnx-paragraph {
        justify-content: baseline;
        font-size: 18px;
        font-weight: 200;
        line-height: normal;
        color: #666666;
    }
}
